@model List<PinePawRetreat.ViewModels.PetVM>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body class="bg-light">
    <h2 class="text-center">Manage Pets</h2>
    <p>Pets count: @Model.Count()</p>
    @{
        if (Model.Count > 0)
        {
            foreach (var pet in Model)
            {
                Html.RenderPartial("_PetCard", pet);
            }
        }
    }


</body>
</html>



