@model List<PinePawRetreat.ViewModels.PetVM>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body class="bg-light">
    <h2 class="text-center">Manage Pets</h2>
    @{ 
        foreach(var pet in Model)
        {
            Html.Partial("_PetCard", pet);
        }
    }

   
</body>
</html>



