@model List<PinePawRetreat.ViewModels.VaccinationVM>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body class="bg-light">
    <h2>Vaccinations</h2>
    <div class="w-75 mx-auto">

        <div class="d-flex align-items-center mb-4">
            <div class="flex-grow-1"></div>

            <h1 class="mb-0 text-center">Manage Vaccinations</h1>

            <div class="flex-grow-1 d-flex justify-content-end">
                @Html.ActionLink("+ Add Vaccination", "AddVaccinations", "Vaccinations", null, new { @class = "btn btn-success btn-sm" })
            </div>
        </div>
        @{ 

            if (Model.Count > 0)
            {
                foreach (var pet in Model)
                {
                    Html.Partial("_VaccCard", pet);
                }
            }
            else 
            {<h4>No Vaccinations are on record</h4>}
       }
    </div>
</body>
</html>

